* text=auto
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.lock text eol=lf
third_party/proxy-tools/LICENSE.txt text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.vbs text eol=crlf
*.jpg binary
*.png binary
*.ico binary
*.exe binary
*.whl binary
*.zip binary
